.header {
  background-color: #233240;
}

@media (min-width: 1520px) {
  .header {
    padding: 0 calc((100% - 1520px)/2);
  }
}

@media (min-width: 980px) {
  .header__top-panel {
    margin: 0;
    display: flex;
    align-items: baseline;
  }
}

.header__top-banner {
  background-color: #01768b;
  color: white;
  padding: 4px 16px;
  margin: 0;
  position: relative;
}

@media (min-width: 980px) {
  .header__top-banner:before {
    content: "";
    background-color: inherit;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    transform: translateX(-99%);
  }
}

@media (min-width: 608px) {
  .header__top-banner {
    padding-left: 24px;
    padding-right: 24px;
  }
  .header__main-panel {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 980px) {
  .header__top-banner {
    flex-grow: 1;
    margin-right: 96px;
    border-bottom-right-radius: 22px;
  }
}

.header__top-menu {
  display: none;
}

@media (min-width: 980px) {
  .header__top-menu {
    display: flex;
    list-style: none;
    margin: 0 24px 0 auto;
    padding: 0;
    min-height: 32px;
  }
  .header__top-menu-item {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
  }
  .header__top-menu-item + .header__top-menu-item {
    margin-left: 48px;
  }
}

/* удалить после верстки */
/* .header__main-panel div,
.header__main-panel a {
  outline: 1px dashed silver;
  background-color: #508C97;
} */

.header__main-panel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 16px;
}

@media (min-width: 980px) {
  .header__main-panel {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.header__link {
  max-width: 48px;
  height: 48px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
}

.header__link:hover {
  color: #fff;
}

@media (min-width: 980px) {
  .header__icon {
    width: 40px;
    height: 40px;
  }
}

.header__logo-container {
  min-height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 980px) {
  .header__logo {
    width: 136px;
    height: 48px;
  }
}

.header__logo-caption {
  display: none;
}

@media (min-width: 980px) {
  .header__logo-caption {
    display: inline;
    margin-top: -6px;
    font-size: 10px;
    color: #a8a8a8;
    text-decoration: none;
  }
}

.header__link--tel {
  margin-left: auto;
}

.header__link--cart {
  background-color: transparent;
}

@media (min-width: 608px) {
  .header__link--love, .header__link--cart {
    margin-left: auto;
  }
}

.header__search-form {
  margin-left: 16px;
  margin-right: 16px;
  flex-basis: 100%;
  display: flex;
  height: 32px;
}

@media (min-width: 608px) and (max-width: 1279px) {
  .header__search-form {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 980px) {
  .header__search-form {
    order: -1;
    flex-basis: 40%;
    margin-left: auto;
    margin-right: 0;
  }
  .header__link--burger {
    display: none;
  }
  .header__logo-container {
    order: -2;
  }
}

.header__search-input {
  flex-grow: 1;
}

.header__search-button {
  width: 48px;
  flex-shrink: 0;
}

.header__city {
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  margin-left: 8px;
}


