.icon {
  display: inline-block;
  background-repeat: no-repeat;
  stroke: currentColor;
  stroke-width: 2px;
  fill: none;
  width: 24px;
  height: 24px;
}

.icon--thin {
  stroke-width: 1px;
}

@media (min-width: 608px) {
  .icon--thin {
    stroke-width: 2px;
  }
}


