@keyframes showModal {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}


.modal--closed .modal__inner {
  display: none;
}

.modal--centered {
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  width: 100%;
  padding: $space*4 0; // Чтобы окно не прилипало к границе браузера
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.modal__inner {
  --vertical-paddings: #{$space * 1.5};
  --horizontal-paddings: #{$space * 2};

  width: 500px;
  padding: var(--vertical-paddings) var(--horizontal-paddings);
  color: $color-font__base;
  background-color: $color__background;
  border-radius: $controls__border-radius;
  box-shadow: 0 3px 6px 0 $color__shadows;
  overflow: visible;
  // box-shadow: 0 20px 40px -15px rgba(0, 0, 0, 0.75);
}

.modal--centered .modal__inner {
  max-width: 100%;
  margin: auto;
  animation: showModal 0.15s ease-out both;
}

.modal--parent-bounded .modal__inner {
  position: absolute;
  top: 100%;
  z-index: 2;
  max-width: 100vw;
}

.modal--parent-bounded:not(.modal--closed) {
  position: relative;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 9px solid $color__background;
  }
}

.modal__header {
  margin: 0 $space * 3 $space 0;
  font-size: 1.7rem;
  line-height: 2rem;
  font-weight: 600;
}

.modal__p {
  margin: 0 0 $space*0.5;
}


// .modal--show {
//   display: block;
//   animation-name: bounce;
//   animation-duration: 0.4s;
// }


// .modal--centered {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
