.modal {
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  width: 100%;
  padding: $space*4 0; // Чтобы окно не прилипало к границе браузера
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.modal__inner {
  --vertical-paddings: #{$space * 2};
  --horizontal-paddings: #{$space * 2};

  position: relative;
  z-index: 2;
  max-width: 100%;
  margin: auto;
  animation: showModalBounded 0.15s ease-out both;
  width: 500px;
  padding: var(--vertical-paddings) var(--horizontal-paddings);
  color: $color-font__base;
  background-color: $color__background;
  border-radius: $controls__border-radius;
  box-shadow: 0 3px 6px 0 $color__shadows;
  overflow: visible;
  overflow-y: auto; //полоса прокрутки при переполнении
  -webkit-overflow-scrolling: touch; //чтобы сенсорная прокрутка работала именно на этом блоке а не на странице
}


.modal__header {
  margin: 0 $space * 3 $space 0;
  font-size: 1.7rem;
  line-height: 2rem;
  font-weight: 600;
}

.modal__p {
  margin: 0 0 $space*0.5;
}

.modal__button {
  width: 100%;
  margin-top: $space*1.5;
}
