.modal {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  padding: 0 16px 16px;
  background-color: #ffffff;
  box-shadow: 0 20px 40px -15px rgba(0, 0, 0, 0.75);
}

.modal--show {
  display: block;
  animation-name: bounce;
  animation-duration: 0.4s;
}

.modal .title2,
.header-modal .title2 {
  margin: 0;
  padding: 16px 0;
  border-bottom: 1px solid #e0e0e0;
}
