@@if (itemsNumber === "12") {
<ul class="category-list @@class">
  @@loop('./category-list/_category-list__item.html', [
  {"name": "Наборы посуды", "filename": "popular-cat-1.jpg"},
  {"name": "Наборы тарелок", "filename": "popular-cat-2.jpg"},
  {"name": "Чайники", "filename": "popular-cat-3.jpg"},
  {"name": "Сковороды", "filename": "popular-cat-4.jpg"},
  {"name": "Наборы ножей", "filename": "popular-cat-5.jpg"},
  {"name": "Френч-прессы", "filename": "popular-cat-6.jpg"},
  {"name": "Грили", "filename": "popular-cat-7.jpg"},
  {"name": "Казаны", "filename": "popular-cat-8.jpg"},
  {"name": "Столовые приборы", "filename": "popular-cat-9.jpg"},
  {"name": "Пиалы", "filename": "popular-cat-10.jpg"},
  {"name": "Кофеварки", "filename": "popular-cat-1.jpg"},
  {"name": "Перцемолки", "filename": "popular-cat-2.jpg"}
  ])
</ul>
}


@@if (itemsNumber === "15") {
<ul class="category-list @@class">
  @@loop('./category-list/_category-list__item.html', [
  {"name": "Наборы посуды", "filename": "popular-cat-1.jpg"},
  {"name": "Наборы тарелок", "filename": "popular-cat-2.jpg"},
  {"name": "Чайники", "filename": "popular-cat-3.jpg"},
  {"name": "Сковороды", "filename": "popular-cat-4.jpg"},
  {"name": "Наборы ножей", "filename": "popular-cat-5.jpg"},
  {"name": "Френч-прессы", "filename": "popular-cat-6.jpg"},
  {"name": "Грили", "filename": "popular-cat-7.jpg"},
  {"name": "Казаны", "filename": "popular-cat-8.jpg"},
  {"name": "Столовые приборы", "filename": "popular-cat-9.jpg"},
  {"name": "Пиалы", "filename": "popular-cat-10.jpg"},
  {"name": "Кофеварки", "filename": "popular-cat-1.jpg"},
  {"name": "Перцемолки", "filename": "popular-cat-2.jpg"},
  {"name": "Казаны", "filename": "popular-cat-8.jpg"},
  {"name": "Грили", "filename": "popular-cat-7.jpg"},
  {"name": "Столовые приборы", "filename": "popular-cat-9.jpg"}
  ])
</ul>
}


@@if (itemsNumber === "9") {
<ul class="category-list @@class">
  @@loop('./category-list/_category-list__item.html', [
  {"name": "Наборы посуды", "filename": "popular-cat-1.jpg"},
  {"name": "Наборы тарелок", "filename": "popular-cat-2.jpg"},
  {"name": "Чайники", "filename": "popular-cat-3.jpg"},
  {"name": "Сковороды", "filename": "popular-cat-4.jpg"},
  {"name": "Наборы ножей", "filename": "popular-cat-5.jpg"},
  {"name": "Френч-прессы", "filename": "popular-cat-6.jpg"},
  {"name": "Грили", "filename": "popular-cat-7.jpg"},
  {"name": "Казаны", "filename": "popular-cat-8.jpg"},
  {"name": "Столовые приборы", "filename": "popular-cat-9.jpg"}
  ])
</ul>
}
