.link {
  color: $color__primary;
  transition: color 0.1s;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-skip-ink: none;

  &:hover,
  &:focus {
    color: $color__primary-dark;
    text-decoration: none;
  }

  &:active {
    opacity: 0.3;
  }
}

.link--nounderline {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
