.content-goods__breadcrumbs {
  margin-left: calc(var(--page-paddings) * -1);
  margin-right: calc(var(--page-paddings) * -1);
  margin-bottom: $space*1.5;
}

.content-goods__header {
  margin-bottom: $space;
  padding-bottom: $space*1.5;
  border-bottom: 1px solid $color__additional-2;
}

.content-goods__title-container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  margin: 0 0 $space*1.5 $space*-1;
}

.content-goods__title {
  margin: 0 0 0 $space;
}

.content-goods__subtitle {
  margin-left: $space;
  color: $color-font__secondary;
}


.content-goods__category-list {
  margin-bottom: $space*1.5;
}

.content-goods__often-looking {
  margin-bottom: $space*1.5;
}
