.often-looking {
  display: flex;
  flex-wrap: wrap;
}

.often-looking__label {
  margin-right: $space;
  color: $color-font__secondary;
}

.often-looking__list {
  flex-shrink: 1;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}


.often-looking__item {
  &:not(:last-child) {
    // margin-right: $space;
  }
}
