html {
    height: 100%;
    font-size: 100%;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.714286;
    color: rgba(0,0,0,.75);
}

main {
    display: block;
}

a {
    background-color: transparent;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}


.h1 {
    font-size: 1.5625rem;
    line-height: 1.28;
    letter-spacing: -0.05em;
}

.h2 {
    font-size: 1.25rem;
    line-height: 1.2;
    letter-spacing: -0.03em;
}

.h3 {
    font-size: 1.125rem;
    line-height: 1.333;
    letter-spacing: -0.02em;
}

.h4 {
    font-size: 1rem;
    line-height: 1.5;
}

.h5 {
    font-size: 0.875rem;
    line-height: 1.714286;
}



@media (min-width: 608px) {
    .h1 {
        font-size: 2rem;
        line-height: 1.125;
    }

    .h2 {
        font-size: 1.5625rem;
        line-height: 1.28;
    }

    .h3 {
        font-size: 1.25rem;
        line-height: 1.2;
    }
}

.h1, .h2, .h3, .h4, .h5 {
    color: rgba(0,0,0,.7);
    font-weight: 600;
}

.subtitle1 {
    color: rgba(0,0,0,.72);
    font-weight: 600;
}

.subtitle2 {
  color: rgba(0,0,0,.90);
  font-weight: 500;
  line-height: 1.42857;
}

.secondary-text {
  color: rgba(0,0,0,.54);
  line-height: 1.42857;
}

.price {
  font-size: 1.5rem;
  color: rgba(0,0,0,.7);
  line-height: 1.333;
  letter-spacing: -0.02em;
}

@media (min-width: 608px) {
  .price {
    font-size: 2rem;
    line-height: 1.25;
  }
}

.price--discount {
    color: #C91F24;
}
