.tooltip {
  position: absolute;
  z-index: 1;
  bottom: calc(100% + 8px);
  left: 50%;
  transform: translateX(-50%);
  padding: $space;
  font-size: 0.75rem;
  color: $color-font__base;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 3px 6px 0 $color__shadows;

  @include media-mobile-only {
    width: 320px;
  }

  @include media-tablet-portrait-up {
    width: 440px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -18px;
    left: 50%;
    transform: translate(-50%, -100%) scaleX(1);
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 10px solid #ffffff;
  }
}

.tooltip--bottom {
  &::before {
    top: 2px;
    border-top: none;
    border-bottom: 10px solid #ffffff;
  }
}

[data-tooltip] {
  position: relative;
}
