.main-page__main {
  margin-top: 16px;
}

@media (min-width: 980px) {
  .promo {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.main-page__promo {
  display: grid;
}

@media (min-width: 608px) and (max-width: 1279px) {
  .main-page__promo {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(340px, auto);
    row-gap: 32px;
    column-gap: 8px;
  }
}

@media (min-width: 980px) and (max-width: 1279px) {
  .main-page__promo {
    row-gap: 8px;
  }
}

@media (min-width: 1280px) {
  .main-page__promo {
    grid-auto-flow: column;
    grid-template-columns: minmax(500px, 750px);
    grid-auto-columns: 25%;
    grid-auto-rows: minmax(280px, auto);
    justify-content: center;
    gap: 8px;
  }
}

@media (min-width: 1280px) {
  .promo__banner--1 {
    grid-row: span 2;
  }

  .promo__banner--4 {
    grid-row: span 2;
  }
}

.main-page__category,
.main-page__catalog,
.main-page__carousel,
.main-page__article {
  margin-top: 64px;
}
