.quantity-input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

.quantity-input__label {
  white-space: pre-wrap;
}

.quantity-input__container {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  max-width: 128px;
}

.quantity-input__button {
  position: absolute;
  width: 48px;
  height: 48px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  outline: none;
}

.quantity-input__button--less {
  left: 0;
}

.quantity-input__button--more {
  right: 0;
}

.quantity-input__icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.quantity-input__button:hover .quantity-input__icon,
.quantity-input__button:focus .quantity-input__icon {
  stroke: $color__primary;
  stroke-width: 2px;
}

.quantity-input__button:active {
  background-color: $color__additional-2;
}

.quantity-input__input-field {
  width: 100%;
  height: 32px;
  padding: 0 48px;
  font-size: 1rem;
  text-align: center;
  color: $color-font__input;
  border-radius: $controls__border-radius;
  border: 1px solid $color__additional-2;
  background-color: #ffffff;
  outline: none;
}

.quantity-input__input-field:focus {
  border: 0;
  box-shadow: 0 0 0 2px $color__primary;
}
