.wrapper {
  // пересмотреть необходимость использоывания блока

  @include media-mobile-only {
    --page-paddings: #{$page-paddings-mobile};
  }

  @include media-tablet-portrait-up {
    --page-paddings: #{$page-paddings-other};
  }

  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--page-paddings);
  padding-right: var(--page-paddings);


  // @include media-breakpoint-down(xs) {
  //   padding-left: $side-paddings-xs;
  //   padding-right: $side-paddings-xs;
  // }

  // @include media-breakpoint-only(sm) {
  //   padding-left: $side-paddings-sm;
  //   padding-right: $side-paddings-sm;
  // }

  // @include media-breakpoint-only(md) {
  //   padding-left: $side-paddings-md;
  //   padding-right: $side-paddings-md;
  // }

  // @include media-breakpoint-up(lg) {
  //   max-width: $lg-max-width;
  //   margin-left: auto;
  //   margin-right: auto;
  //   padding-left: $side-paddings-lg;
  //   padding-right: $side-paddings-lg;
  // }
}
