.main {
  position: relative;
  z-index: 0;
}

.main__promo {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $space*4;
}

.main__category {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $space*4;
}

.main__popular-goods {
  margin-left: auto;
  margin-bottom: $space*4;

  @include media-tablet-landscape-down {
    max-width: $max-width;
    margin-right: auto;
  }

  @include media-desktop-up {
    max-width: calc((#{$max-width} + 100%) / 2);
    margin-right: 0;
  }
}

.main__catalog {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $space*4;
}

.main__admin-content {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $space*4;
}

.main__brands {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $space*4;
}
