.button {
  margin: 0;
  appearance: button;
  font: inherit;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  overflow: visible;
  word-break: break-word;
  background: 0;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.1s;
}

.button--action-primary {
  padding: $space * 0.75 $space;
  color: $color-font__button;
  background-color: $color__secondary;
  border-radius: $controls__border-radius;

  &:hover,
  &:focus {
    background-color: $color__secondary-bright;
  }
}


.button--action-secondary {
  padding: calc(#{$space} * 0.75 - 2px) $space;
  color: $color-font__button;
  background-color: transparent;
  border: 2px solid $color__secondary;
  border-radius: $controls__border-radius;

  &:hover,
  &:focus {
    background-color: $color__background;
    border: 2px solid $color__secondary-bright;
  }

  &:active {
    border-color: darken($color__secondary-bright, 5%);
  }
}

.button--options-primary {
  padding: $space * 0.5 $space;
  background-color: $color__primary;
  color: $color-font__button-inverted;
  border-radius: $controls__border-radius;

  &:hover,
  &:focus {
    background-color: $color__primary-dark;
  }

  &:active {
    background-color: darken($color__primary-dark, 5%);
  }
}

.button--modal-close {
  position: absolute;
  top: 0;
  right: 0;
  min-width: $space * 5;
  min-height: $space * 5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: all 0.1s;
}

.button--modal-close .button__icon {
  width: $space * 3;
  height: $space * 3;
  stroke: $color__additional-4;
  stroke-width: 2px;
}

.button--modal-close:hover .button__icon,
.button--modal-close:focus .button__icon {
  stroke: $color__primary;
}

.button--modal-close:active {
  opacity: 0.3;
}


// .button--action-secondary .button__icon {
//   fill: none;
//   stroke-width: 2px;
//   stroke: $color__secondary;
//   border-radius: $controls__border-radius;
// }


// .button--action-secondary:hover:not(:disabled) .button__icon,
// .button--action-secondary:focus:not(:disabled) .button__icon {
//   fill: $color__secondary-bright;
//   stroke: $color__secondary-bright;
// }

// .button__flex-container {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .button__flex-container .button__icon {
//   flex-shrink: 0;
// }


// .button__text {
//   vertical-align: middle;
// }

// .button__icon + .button__text {
//   margin-left: $grid-baseline / 2;
// }

// .button__icon {
//   vertical-align: middle;
// }

// .button__text + .button__icon {
//   margin-left: $grid-baseline / 2;
// }


// .button--options-secondary {
//   padding: $grid-baseline / 2  $grid-baseline;
//   color: $color__primary;
//   background-color: #ffffff;
//   box-shadow: inset 0 0 0 2px $color__primary;
//   border-radius: $controls__border-radius;
//   outline: none;
// }

// .button--options-secondary:hover,
// .button--options-secondary:focus {
//   background-color: $color__primary;
//   opacity: 0.06;
//   border-color: $color__primary-dark;
// }

// .button--filter-remove {
//   padding: $grid-baseline / 2  $grid-baseline;
//   border-radius: 16px;
//   background-color: $color__additional-1;
//   box-shadow: inset 0 0 0 1px $color__additional-4;
//   outline: none;
// }

// .button--filter-remove:hover,
// .button--filter-remove:focus {
//   box-shadow: inset 0 0 0 2px $color__primary;
// }

// .button--filter-remove .button__icon {
//   stroke: $color__additional-4;
//   stroke-width: $controls__border-radius;
//   stroke-linecap: round;
// }

// .button--filter-remove:hover {
//   box-shadow: inset 0 0 0 2px $color__primary;
// }

// .button--filter-remove:hover .button__icon {
//   stroke: $color__primary;
// }

// .button.disabled,
// .button:disabled {
//   cursor: default;
//   opacity: 0.4;
//   filter: grayscale(1);
// }
