.popular-goods {
  @include media-desktop-up {
    padding-left: var(--page-paddings);
    padding-right: var(--page-paddings);
  }
}

.popular-goods__title {
  @include media-tablet-landscape-down {
    margin: 0 var(--page-paddings) $space*2;
  }

  @include media-desktop-up {
    margin: 0 0 $space*2;
  }
}
