.icon {
  width: $space * 1.5;
  height: $space * 1.5;
  flex-shrink: 0;
  // background-repeat: no-repeat;Зачем?
}

.icon--2x {
  width: $space * 2;
  height: $space * 2;
}

.icon--stroked {
  stroke: currentColor;

  @media (max-resolution: $retina-dpi),
    (max-resolution: $retina-dppx) {
    stroke-width: 2px;
  }

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    stroke-width: 1px;
  }
}

.icon--filled {
  fill: currentColor;
}


// .icon-viber {
//   fill: #675dac;
// }

// .icon-mts {
//   fill: #e30613;
// }

// .icon-life {
//   fill: #062594;
// }

// .icon-vk {
//   background-color: #48729e;
//   border-radius: 2px;
// }

// .icon-fb {
//   background-color: #3c5a98;
//   border-radius: 2px;
// }

// .icon-ok {
//   background-color: #eb722e;
//   border-radius: 2px;
// }
