.socials-login {
  display: flex;
  align-items: center;
}

.socials-login__list {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
  padding: 0;
  list-style: none;
}

.socials-login__item:not(:last-child) {
  margin-right: $space * 0.5;
}

.socials-login__link {
  display: flex;
  align-items: center;

  &:hover,
  &:focus {
    filter: brightness(1.2);
  }
}

.socials-login__icon {
  border-radius: 2px;
}

.socials-login__icon--vk {
  background-color: #48729e;
}

.socials-login__icon--fb {
  background-color: #3c5a98;
}

.socials-login__icon--ok {
  background-color: #eb722e;
}
