.filter {
  @include media-tablet-landscape-down {
    padding: $space var(--page-paddings) var(--page-paddings);
  }
}

.filter__header {
  border-bottom: 1px solid $color__additional-2;

  @include media-tablet-landscape-down {
    padding-bottom: $space*0.5;
    text-align: center;
  }
}

.filter__title {
  margin: 0 0 0.25rem;
  font-size: 1.25rem;

  @include media-desktop-up {
    font-size: 1.5rem; // ?
  }
}

.filter__header-subtitle {
  color: $color-font__secondary;
}


.filter__single-filter {
  border-bottom: 1px solid $color__additional-2;
}


.filter__single-filter-title {
  margin: 0;
  font-size: 0.875rem;
}


.filter__list {
  margin: 0 0 $space*2 $space;
  padding: 0;
  list-style: none;
}

.filter__item {
  &:not(:last-child) {
    margin-bottom: $space*0.75;
  }
}

.filter__range-inputs {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: $space;
}

.filter__range-inputs-between {
  flex-grow: 0.6;
  padding: 0 8px;
  text-align: center;
}

.filter__range-textfield {
  flex-basis: $space*6;
  flex-grow: 1;
}

.filter__button-submit {
  width: 100%;
  margin: $space*1.5 0 $space 0;
}

.filter__button-clear {
  display: block;
  margin: 0 auto;
}
