.header__cart-quantity-positioner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: $space * 3;
}

.header__cart-quantity {
  position: absolute;
  top: 2px;
  right: 2px;
  width: $space*1.25;
  height: $space*1.25;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 600;
  color: $color__third;
  border-radius: 50%;
  background-color: #ffffff;
}

.header__cart .header__link-caption {
  @include media-tablet-landscape-down {
    display: none;
  }
}
