.header__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-font__base-inverted;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $color-font__title-inverted;
  }
}
