.header__top-menu {
  @include media-tablet-portrait-down {
    position: fixed;
    z-index: 2;
    left: -100%;
    bottom: auto;
    width: 84%;
    max-width: 400px;
    max-height: 100%;
    padding-top: $space * 0.5;
    padding-bottom: $space * 0.5;
    border-radius: $controls__border-radius;
    background-color: $color__background;
    box-shadow: 0 3px 6px 0 $color__shadows;
    transition: left 0.2s;
  }

  @include media-tablet-landscape-up {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: $space*0.25;
    margin-left: $space*-3;
    font-size: 92.857%;
    font-weight: 600;
    letter-spacing: 0.03em;

    & *:focus {
      outline: 2px dashed #ffffff;
      outline-offset: 1px;
    }
  }
}

.header__top-menu--isopened {
  @include media-tablet-portrait-down {
    left: 0;
  }
}

.header__top-menu-list {
  @include media-tablet-landscape-up {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: $space*-0.5 0 0;
    border-bottom: 0;
    padding: 0;
  }
}

.header__top-menu-list--secondary {
  @include media-tablet-landscape-up {
    @include visually-hidden;
  }
}

.header__top-menu-item {
  @include media-tablet-landscape-up {
    margin-top: $space * 0.5;
    margin-left: $space * 3;
  }
}

.header__top-menu-link {
  @include media-tablet-landscape-up {
    padding: 0;
    white-space: nowrap;
    color: $color-font__base-inverted;

    &:hover,
    &:focus {
      color: $color-font__title-inverted;
      background-color: transparent;
    }
  }
}

.header__city-container {
  @include media-tablet-landscape-up {
    color: #ffffff;
  }
}
