.header__cart-modal {
  right: 0;
  width: $space * 28;
  left: 50%; //temp
  transform: translateX(-50%);//temp
}

.header__cart-quantity-positioner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: $space * 3;
}

.header__cart-quantity {
  position: absolute;
  top: 2px;
  right: 2px;
  width: $space*1.25;
  height: $space*1.25;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 600;
  color: $color__third;
  border-radius: 50%;
  background-color: #ffffff;
}

.header__cart .header__link-caption {
  @include media-tablet-landscape-down {
    display: none;
  }
}

.header__cart-modal-footer {
  margin: $space calc(var(--horizontal-paddings) * -1) calc(var(--vertical-paddings) * -1);
  padding: $space var(--horizontal-paddings) var(--vertical-paddings);
  background-color: $color__additional-1;
}

.header__cart-modal-summary {
  display: flex;
  justify-content: space-between;
  margin: 0 0 $space;
  font-weight: 600;
}

.header__cart-modal-buttons {
  display: flex;
  justify-content: space-between;
}

.modal--cart__button {
  width: calc(50% - #{$space * 0.5});
}
