.header {
  color: $color-font__base-inverted;
  background-color: $color__third;
  background-image: url("/img/svg/background.svg");

  @include media-tablet-portrait-down {
    background-size: 900px;
    background-position: 0 236px;
  }

  @include media-tablet-landscape-up {
    background-size: 1300px;
    background-position: 0 -40px;
  }
}

@import "header__icon";
@import "header__link";
@import "header__top-banner";
@import "header__top-menu";
@import "header__burger";
@import "header__logo";
@import "header__contacts";
@import "header__user";
@import "header__cart";
@import "header-modal/header-modal";


// .header__top-panel {
//   @include media-tablet-landscape-up {
//     display: flex;
//     align-items: flex-start;
//     padding-left: var(--page-paddings);
//     padding-right: var(--page-paddings);
//   }

//   @include media-desktop-up {
//     max-width: $max-width;
//     margin-left: auto;
//     margin-right: auto;
//   }
// }
