.header__main-panel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 16px;
}

@media (min-width: 608px) {
  .header__main-panel {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 980px) {
  .header__main-panel {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}


.header__link:focus,
.header__button-tel:focus {
  outline: 1px solid #ffffff;
}

// @media (max-width: 979px) {
//   .header__burger {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     color: #ffffff;
//   }
// }

// @media (min-width: 980px) {
//   .header__burger {
//     display: none;
//   }
// }

// .header__logo-container {
//   min-height: 56px;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   text-decoration: none;
// }

// .header__logo-container:hover,
// .header__logo-container:focus {
//   opacity: 0.8;
// }

// @media (min-width: 980px) {
//   .header__logo-svg {
//     width: 136px;
//     height: 48px;
//   }
// }

// .header__logo-caption {
//   display: none;
// }

// @media (min-width: 980px) {
//   .header__logo-caption {
//     display: block;
//     margin-top: -6px;
//     font-size: 0.6875rem;
//     font-weight: 600;
//     color: #a8a8a8;
//     text-decoration: none;
//   }
// }


// .header__link--user,
// .header__link--cart {
//   height: 100%;
// }


.header__search-form {
  display: flex;
  flex-basis: 100%;
  margin-left: 16px;
  margin-right: 16px;
}

@media (min-width: 608px) and (max-width: 1279px) {
  .header__search-form {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 980px) {
  .header__search-form {
    order: -1;
    flex-basis: 40%;
    margin-left: auto;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
  }

  .header__logo-container {
    order: -2;
  }
}
