@import "header__top-menu";

.header {
  color: $color-font__base-inverted;
  background-color: $color__third;
  background-image: url("/img/svg/background.svg");

  @include media-tablet-portrait-down {
    background-size: 900px;
    background-position: 0 236px;
  }

  @include media-tablet-landscape-up {
    background-size: 1300px;
    background-position: 0 -40px;
  }
}

.header__top-panel {
  @include media-tablet-landscape-up {
    display: flex;
    align-items: flex-start;
    padding-left: var(--page-paddings);
    padding-right: var(--page-paddings);
  }

  @include media-desktop-up {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
  }
}

.header__top-banner {
  margin: 0;
  padding-top: $space * 0.5;
  padding-bottom: $space * 0.5;
  color: $color-font__title-inverted;
  background-color: $color__primary;

  @include media-tablet-portrait-down {
    padding-left: var(--page-paddings);
    padding-right: var(--page-paddings);
  }

  @include media-tablet-landscape-up {
    position: relative;
    flex-grow: 1;
    margin-right: $space * 3;
    padding-right: $space;
    border-bottom-right-radius: $space * 2;

    &::before {
      content: "";
      position: absolute;
      right: 100%;
      top: 0;
      bottom: 0;
      width: 100vw;
      background-color: inherit;
    }
  }
}
