.header__top-menu {
  @include media-tablet-portrait-down {
    position: fixed;
    z-index: 2;
    left: -100%;
    bottom: auto;
    width: 84%;
    max-width: 400px;
    max-height: 100%;
    padding-top: $space * 0.5;
    padding-bottom: $space * 0.5;
    border-radius: $controls__border-radius;
    background-color: #ffffff;
    box-shadow: 0 3px 6px 0 $color__shadows;
    transition: left 0.2s;
  }

  @include media-tablet-landscape-up {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: auto;
    margin-top: $space * 0.5;
    margin-bottom: $space * 0.5;
  }
}

.header__top-menu--isopened {
  @include media-tablet-portrait-down {
    left: 0;
  }
}

.header__top-menu-list {
  padding: 0;
  list-style: none;

  @include media-tablet-portrait-down {
    margin: 0;
    border-bottom: 1px solid $color__additional-2;
  }

  @include media-tablet-landscape-up {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: $space*-0.5 0 0;
  }
}

.header__top-menu-list--secondary {
  @include media-tablet-landscape-up {
    @include visually-hidden;
  }
}

.header__top-menu-item {
  @include media-tablet-landscape-up {
    margin-top: $space * 0.5;
    margin-left: $space * 3;
  }
}

.header__top-menu-link {
  text-decoration: none;

  @include media-tablet-portrait-down {
    display: flex;
    align-items: center;
    padding: $space var(--page-paddings);
    color: $color-font__base;

    &:hover,
    &:focus {
      background-color: $color__primary-light;
    }
  }

  @include media-tablet-landscape-up {
    color: $color-font__base-inverted;

    &:hover,
    &:focus {
      color: $color-font__title-inverted;
    }
  }
}

.header__city-container {
  @include media-tablet-landscape-up {
    color: #ffffff;
  }
}
