.page__header {
  margin-bottom: $space;
}

.page__main {
  margin-bottom: $space*8;
}

.page__section {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--page-paddings);
  padding-right: var(--page-paddings);

  &:not(:last-child) {
    margin-bottom: $space*4;
  }
}

.page__section--carousel {
  @include media-desktop-up {
    max-width: calc((#{$max-width} + 100%) / 2);
    margin-right: 0;
  }
}

// компенсация paddings отриц. margin для каруселей
.page__carousel {
  @include media-tablet-landscape-down {
    margin-left: calc(var(--page-paddings) * -1);
    margin-right: calc(var(--page-paddings) * -1);
  }
}


.page__section-title {
  margin: 0 0 $space*2;
}


.page__title {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: $space*2;
  padding-left: var(--page-paddings);
  padding-right: var(--page-paddings);
}

.page__breadcrumbs {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $space*2;
}


.page__content-goods {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--page-paddings);
  padding-right: var(--page-paddings);
}
