<!-- Шаблоны в зависимости от страницы -->

@@if (page === "index") {

<section class="category @@class">
  <h2 class="title title--2 category__title">Популярные категории</h2>
  <ul class="category__list">

    @@loop('./category/_category__item.html', [
    {"name": "Наборы посуды", "filename": "popular-cat-1.jpg"},
    {"name": "Наборы тарелок", "filename": "popular-cat-2.jpg"},
    {"name": "Чайники", "filename": "popular-cat-3.jpg"},
    {"name": "Сковороды", "filename": "popular-cat-4.jpg"},
    {"name": "Наборы ножей", "filename": "popular-cat-5.jpg"},
    {"name": "Френч-прессы", "filename": "popular-cat-6.jpg"},
    {"name": "Грили", "filename": "popular-cat-7.jpg"},
    {"name": "Казаны", "filename": "popular-cat-8.jpg"},
    {"name": "Столовые приборы", "filename": "popular-cat-9.jpg"},
    {"name": "Пиалы", "filename": "popular-cat-10.jpg"},
    {"name": "Кофеварки", "filename": "popular-cat-1.jpg"},
    {"name": "Перцемолки", "filename": "popular-cat-2.jpg"}
    ])

  </ul>
</section>

}




@@if (page === "category-lvl1") {

<section class="category @@class">
  <h2 class="title title--2 category__title">Наборы посуды</h2>
  <ul class="category__list">

    @@loop('./category/_category__item.html', [
    {"name": "Наборы посуды", "filename": "popular-cat-1.jpg"},
    {"name": "Наборы тарелок", "filename": "popular-cat-2.jpg"},
    {"name": "Чайники", "filename": "popular-cat-3.jpg"},
    {"name": "Сковороды", "filename": "popular-cat-4.jpg"},
    {"name": "Наборы ножей", "filename": "popular-cat-5.jpg"},
    {"name": "Френч-прессы", "filename": "popular-cat-6.jpg"},
    {"name": "Грили", "filename": "popular-cat-7.jpg"},
    {"name": "Казаны", "filename": "popular-cat-8.jpg"},
    {"name": "Столовые приборы", "filename": "popular-cat-9.jpg"},
    {"name": "Пиалы", "filename": "popular-cat-10.jpg"},
    {"name": "Кофеварки", "filename": "popular-cat-1.jpg"},
    {"name": "Перцемолки", "filename": "popular-cat-2.jpg"},
    {"name": "Столовые приборы", "filename": "popular-cat-9.jpg"},
    {"name": "Пиалы", "filename": "popular-cat-10.jpg"},
    {"name": "Кофеварки", "filename": "popular-cat-1.jpg"}
    ])

  </ul>
</section>


<section class="category @@class">
  <h2 class="title title--2 category__title">Посуда для сервировки</h2>
  <ul class="category__list">

    @@loop('./category/_category__item.html', [
    {"name": "Грили", "filename": "popular-cat-7.jpg"},
    {"name": "Наборы тарелок", "filename": "popular-cat-2.jpg"},
    {"name": "Чайники", "filename": "popular-cat-3.jpg"},
    {"name": "Наборы ножей", "filename": "popular-cat-5.jpg"},
    {"name": "Наборы посуды", "filename": "popular-cat-1.jpg"},
    {"name": "Перцемолки", "filename": "popular-cat-2.jpg"},
    {"name": "Френч-прессы", "filename": "popular-cat-6.jpg"},
    {"name": "Казаны", "filename": "popular-cat-8.jpg"},
    {"name": "Столовые приборы", "filename": "popular-cat-9.jpg"},
    {"name": "Пиалы", "filename": "popular-cat-10.jpg"},
    {"name": "Сковороды", "filename": "popular-cat-4.jpg"},
    {"name": "Кофеварки", "filename": "popular-cat-1.jpg"}
    ])

  </ul>
</section>


<section class="category @@class">
  <h2 class="title title--2 category__title">Посуда для чая</h2>
  <ul class="category__list">

    @@loop('./category/_category__item.html', [
    {"name": "Сковороды", "filename": "popular-cat-4.jpg"},
    {"name": "Наборы тарелок", "filename": "popular-cat-2.jpg"},
    {"name": "Наборы ножей", "filename": "popular-cat-5.jpg"},
    {"name": "Наборы посуды", "filename": "popular-cat-1.jpg"},
    {"name": "Френч-прессы", "filename": "popular-cat-6.jpg"},
    {"name": "Столовые приборы", "filename": "popular-cat-9.jpg"},
    {"name": "Грили", "filename": "popular-cat-7.jpg"},
    {"name": "Казаны", "filename": "popular-cat-8.jpg"},
    {"name": "Чайники", "filename": "popular-cat-3.jpg"}
    ])

  </ul>
</section>

}




@@if (page === "category-lvl2") {

<section class="category @@class">
  <h2 class="visually-hidden">Подкатегории товаров</h2>
  <ul class="category__list">

    @@loop('./category/_category__item.html', [
    {"name": "Наборы посуды", "filename": "popular-cat-1.jpg"},
    {"name": "Наборы тарелок", "filename": "popular-cat-2.jpg"},
    {"name": "Чайники", "filename": "popular-cat-3.jpg"},
    {"name": "Сковороды", "filename": "popular-cat-4.jpg"},
    {"name": "Наборы ножей", "filename": "popular-cat-5.jpg"},
    {"name": "Френч-прессы", "filename": "popular-cat-6.jpg"}
    ])

  </ul>
</section>

}
