.category {
  padding-left: var(--page-paddings);
  padding-right: var(--page-paddings);
}

.category__title {
  margin: 0 0 $space*2;
}

.category__list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;

  @include media-tablet-portrait-down {
    grid-template-columns: repeat(auto-fit, minmax(212px, 1fr));
    row-gap: $space*0.5;
    column-gap: $space;
  }

  // @include media-tablet-landscape-up {
  //   grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
  //   row-gap: $space*2;
  //   column-gap: $space;
  // }

  @include media-tablet-landscape-up {
    display: flex;
    flex-wrap: wrap;
    margin: $space*-0.25 0 0 $space*-0.25;
  }
}

.category__item {
  @include media-tablet-landscape-up {
    flex-basis: 186px;
    flex-grow: 1;
    margin: $space*0.25 0 0 $space*0.25;
  }
}

.category__link {
  display: block;
  height: 100%;
  color: $color-font__subtitle1;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $color__primary;
  }
}

.category__figure {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  border-radius: 2px;

  @include media-tablet-portrait-down {
    padding: $space*0.25 0 $space*0.25 $space*0.5;
    background-color: $color__additional-1;
    border: 1px solid $color__additional-2;

    &::after {
      content: "»";
      width: $space*3;
      margin-left: auto;
      flex-shrink: 0;
      color: $color__additional-4;
      font-size: 1.5rem;
      text-align: center;
    }
  }

  @include media-tablet-landscape-up {
    position: relative;
    flex-direction: column;
    padding: $space;
    background-color: transparent;

    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $color__image-overlay;
      border-radius: 2px;
    }
  }
}

.category__image {
  display: block;

  @include media-tablet-portrait-down {
    width: $space*2.5;
    max-height: $space*2.5;
    margin-right: $space;
    border-radius: 50%;
  }

  @include media-tablet-landscape-up {
    width: auto;
    max-height: $space*8;
    margin-top: auto;
    margin-bottom: $space;
  }
}

.category__link:hover .category__image,
.category__link:focus .category__image {
  @include media-tablet-landscape-up {
    transform: translateY(-4px);
    transition: 0.15s;
  }
}

.category__name {
  text-decoration: none;
  font-weight: 600;
  word-break: break-word;

  @include media-tablet-landscape-up {
    margin-top: auto;
  }
}
