.header-modal__contacts {
  left: 50%;
  transform: translateX(-50%);
  min-width: $space * 17;
}

.header-modal__contacts-list {
  margin: 0 0 $space;
  padding: 0;
  list-style: none;

  &:last-child {
    margin: $space 0 0;
  }
}

.header-modal__contacts-list--tel .header-modal__contacts-item {
  text-align: center;
}

.header-modal__contacts-item:not(:last-child) {
  margin-bottom: 0.25 * $space;
}

.header-modal__contacts-item--call-button {
  margin-top: $space;
}

.header-modal__call-button {
  @include media-tablet-portrait-down {
    width: 100%;
    border-radius: 2rem;
  }

  @include media-tablet-landscape-up {
    display: none;
  }
}

.header-modal__contacts-link {
  display: flex;
  align-items: center;
  color: $color-font__base;
  text-decoration: none;
}

.header-modal__contacts-list--tel .header-modal__contacts-link {
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
}

.header-modal__contacts-phoneprefix {
  color: $color-font__secondary;
}

.header-modal__contacts-phone {
  font-size: 112.5%;
}

.header-modal__contacts-icon {
  margin-right: $space;
}

.header-modal__contacts-worktime {
  margin: 0;
  padding: $space 0;
  text-align: center;
  border-top: 1px solid $color__additional-2;
  border-bottom: 1px solid $color__additional-2;
}
