.header-modal--isopened .header-modal {
  display: block;
}

.header-modal {
  display: none;
  position: absolute;
  top: 100%;
  padding: $space * 2;
  color: $color-font__base;
  background-color: $color__background;
  border-radius: $controls__border-radius;
  box-shadow: 0 6px 6px 0 $color__shadows;
}

.header-modal--isopened {
  position: relative;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 9px solid $color__background;
  }
}


@import "header-modal__contacts";
@import "header-modal__user";
@import "header-modal__cart";


// .header-modal--cart {

//   padding-left: 16px;
//   padding-right: 16px;
//   color: rgba(0, 0, 0, 0.75);
// }

// .header-modal--cart__footer {
//   margin: 0 -16px -16px;
//   padding: 8px 16px 16px;
//   background-color: #faf9f7;
// }

// .header-modal--cart__buttons {
//   display: flex;
//   margin-top: 8px;
// }

// .header-modal--cart__button {
//   flex-basis: 0;
//   flex-grow: 1;
// }

// .header-modal--cart__button + .header-modal--cart__button {
//   margin-left: 8px;
// }

// .header-modal--cart__footer-summary {
//   display: flex;
//   justify-content: space-between;
//   margin: 8px 0;
//   font-weight: 600;
// }
