.promo {
  max-width: $max-width;
  margin: 0 auto;

  @include media-tablet-portrait-up {
    display: grid;
    gap: $space*0.5;
  }

  @include media-tablet-landscape-up {
    padding-left: var(--page-paddings);
    padding-right: var(--page-paddings);
  }

  @include media-tablet-portrait-only {
    row-gap: $space*2;
  }

  @media (min-width: $tablet-portrait) and (max-width: $tablet-landscape-only) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "promo1 promo2"
      "promo3 promo4";
  }

  @include media-desktop-up {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "promo1 promo1 promo2 promo4"
      "promo1 promo1 promo3 promo4";
  }
}

@include media-tablet-landscape-up {
  .promo__1 {
    grid-area: promo1;
  }

  .promo__2 {
    grid-area: promo2;
  }

  .promo__3 {
    grid-area: promo3;
  }

  .promo__4 {
    grid-area: promo4;
  }
}

.promo__banner {
  @include media-mobile-only {
    &:not(:last-child) {
      margin-bottom: $space*2;
    }
  }
}
