.banner {
  color: $color-font__base;
  text-decoration: none;

  @include media-tablet-portrait-down {
    display: block;
  }

  @include media-tablet-landscape-up {
    display: grid;
    overflow: hidden;
  }
}

.banner__image-container {
  margin: 0;

  @include media-tablet-landscape-up {
    grid-row-start: 1;
    grid-column-start: 1;
  }

  /* для предотвращения вываливания большого изображения за грид */
  // min-height: 0; ???
}

.banner__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

  // max-height: 100%; ???
}

.banner__offer-container {
  @include media-mobile-only {
    text-align: center;
  }

  @include media-tablet-portrait-down {
    padding: $space $space*0.5;
  }

  @include media-tablet-landscape-up {
    /* на ширине более 608 блок с текстом баннера вкладывается в изображение */
    grid-row-start: 1;
    grid-column-start: 1;
    z-index: 1;
    align-self: start;
    width: 60%;
    min-width: 300px;
    max-width: 420px;
    max-height: 100%;
    padding: $space*1.5;
    background-color: $color__banner-offer;
    overflow: hidden;
  }

  &--center {
    align-self: center;
  }

  &--bottom {
    align-self: end;
  }
}


.banner__title {
  margin: 0 0 $space;
}

.banner__text {
  margin: 0 0 $space;
}

.banner__call2action-text {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: -0.03em;
}
