.slider__list-container {
  position: relative;

  @include media-tablet-portrait-down {
    margin: 0 calc(var(--page-paddings) * -1) $space;
  }

  @include media-tablet-landscape-up {
    margin: 0 0 $space;
  }
}

.slider__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: auto;
  will-change: scroll-position;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.slider__item {
  // установка ширины в зависимости от width контейнера
  // https://heydonworks.com/article/the-flexbox-holy-albatross/
  --breakpoint: 32rem;
  --multiplier: calc(var(--breakpoint) - 100%);

  min-width: 50%;
  max-width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: calc(var(--multiplier) * 999);
  scroll-snap-align: start;

  &:not(:last-child) {
    margin-right: $space*0.5;
  }
}


.slider__image-container {
  position: relative;
  padding-top: 100%;
}

.slider__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slider__nav {
  display: flex;
  align-items: center;
  justify-content: center;
}


.slider__nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: $space*-0.25;
  padding: 0;
  list-style: none;
}

.slider__nav-item {
  margin: $space*0.25;
}

.slider__nav-link {
  display: block;
  padding: $space*0.25;
  outline: none;

  // точки
  @include media-mobile-only {
    &::before {
      content: "";
      display: block;
      width: $space*0.5;
      height: $space*0.5;
      background-color: $color__additional-3;
      border-radius: 50%;
      transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
      will-change: transform;
    }
  }

  // thumbnails
  @include media-tablet-portrait-up {
    width: $space*3.5;
    height: $space*3.5;
    border-radius: $controls__border-radius;
    transition: box-shadow 75ms linear;

    &:hover {
      box-shadow: inset 0 0 0 2px $color__primary;
    }
  }
}

.slider__nav-item--active .slider__nav-link {
  @include media-mobile-only {
    &::before {
      transform: scale(2);
      background-color: $color__primary;
    }
  }

  @include media-tablet-portrait-up {
    box-shadow: inset 0 0 0 2px $color__primary;
  }
}

.slider__nav-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;

  @include media-mobile-only {
    display: none;
  }
}


// * Toggle buttons
// Показываем на устройствах без тача

@media not all and (pointer: coarse) {
  .slider__toggle {
    width: $space*3;
    height: $space*3;
    color: $color__additional-4;
    border-radius: 50%;
    border: 1px solid $color__additional-2;
    box-shadow: 0 3px 6px 0 $color__shadows;
    background-color: rgba(255, 255, 255, 0.8);
    transition: opacity 150ms linear;

    &--left {
      & .slider__toggle-icon {
        transform: rotate(90deg);
      }
    }

    &--right {
      & .slider__toggle-icon {
        transform: rotate(-90deg);
      }
    }

    &:hover,
    &:focus {
      color: $color__primary;
      border: 2px solid $color__primary;
    }
  }

  .slider__list-container .slider__toggle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .slider__list-container .slider__toggle--left {
    left: $space;
  }

  .slider__list-container .slider__toggle--right {
    right: $space;
  }

  .slider--first-slide .slider__toggle--left {
    // visibility: hidden;
    opacity: 0;
  }

  .slider--last-slide .slider__toggle--right {
    // visibility: hidden;
    opacity: 0;
  }

  .slider__nav .slider__toggle--left {
    margin-right: $space;
  }

  .slider__nav .slider__toggle--right {
    order: 1;
    margin-left: $space;
  }
}


@media (pointer: coarse) {
  .slider__toggle {
    display: none;
  }
}


@media not all and (pointer: coarse) {
  .slider__toggle-icon {
    display: block;
    width: $space*1.5;
    height: $space*1.5;
    stroke-width: 2px;
    stroke: currentColor;
    fill: none;
  }
}
