.carousel {
  --carousel-extra-space: 16px;

  position: relative;

  @include media-mobile-only {
    --carousel-spacing: #{$space*0.5};
    --items-number: 1.8;
    --space-between: #{$space*1};
  }

  @include media-tablet-portrait-up {
    --carousel-spacing: #{$space};
  }

  @include media-tablet-portrait-only {
    --items-number: 3.5;
    --space-between: #{$space*3};
  }

  @include media-tablet-landscape-only {
    --items-number: 5.5;
    --space-between: #{$space*5};
  }

  @include media-desktop-up {
    --items-number: 7;
    --space-between: #{$space*6};
  }
}


.carousel__list {
  display: flex;
  padding: 3rem var(--carousel-extra-space);
  margin: -3rem calc(var(--carousel-extra-space) * -1);
  list-style: none;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  // scroll-snap-type: x mandatory;
  // scroll-snap-type: x proximity;
  // scroll-behavior: smooth;


  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}


.carousel__item {
  flex-shrink: 0;
  max-width: $space*15;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  // scroll-snap-align: start;
  // scroll-margin-left: var(--page-paddings);

  &:hover,
  &:focus-within {
    transform: translateY(-5px);
    // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  &:not(:last-child) {
    margin-right: var(--carousel-spacing);
  }

  @include media-tablet-landscape-down {
    width: calc((100% + var(--page-paddings) - var(--space-between)) / var(--items-number));
  }

  @include media-desktop-up {
    width: calc((100% - var(--space-between)) / var(--items-number));
  }
}


// * Toggle buttons

@media not all and (pointer: coarse) {
  .carousel__toggle {
    position: absolute;
    z-index: 1;
    top: 50%;
    padding: $space*0.75;
    color: $color__additional-4;
    border-radius: 50%;
    box-shadow:
      inset 0 0 0 1px $color__additional-2,
      0 3px 6px 0 $color__shadows;
    background-color: rgba(255, 255, 255, 0.8);

    &--left {
      left: $space;
      transform: translateY(-50%) rotate(90deg);
    }

    &--right {
      right: $space;
      transform: translateY(-50%) rotate(-90deg);
    }

    &:hover,
    &:focus {
      color: $color__primary;
      box-shadow:
        inset 0 0 0 1px $color__primary,
        0 3px 6px 0 $color__shadows;
    }
  }
}


@media (pointer: coarse) {
  .carousel__toggle {
    display: none;
  }
}


@media not all and (pointer: coarse) {
  .carousel__toggle-icon {
    display: block;
    width: $space*1.5;
    height: $space*1.5;
    stroke-width: 2px;
    stroke: currentColor;
    fill: none;
  }
}

.carousel__bullets {
  margin-top: $space;
}
