.carousel {
  --carousel-spacing: #{$space};

  @include media-mobile-only {
    --items-number: 2.5;
    --space-between: #{$space*2};
  }

  @include media-tablet-portrait-only {
    --items-number: 3.5;
    --space-between: #{$space*3};
  }

  @include media-tablet-landscape-only {
    --items-number: 5.5;
    --space-between: #{$space*5};
  }

  @include media-desktop-up {
    --items-number: 7;
    --space-between: #{$space*6};
  }

  @include media-desktop-up {
    padding-left: var(--page-paddings);
    padding-right: var(--page-paddings);
  }
}


.carousel__title {
  @include media-tablet-landscape-down {
    margin: 0 var(--page-paddings) $space*2;
  }

  @include media-desktop-up {
    margin: 0 0 $space*2;
  }
}


.carousel__container {
  position: relative;
  overflow: hidden;
}


.carousel__list {
  display: flex;
  margin: 0;
  list-style: none;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  // scroll-snap-type: x mandatory;
  // scroll-snap-type: x proximity;
  scroll-behavior: smooth;

  @include media-tablet-landscape-down {
    padding: 0 var(--page-paddings);
  }

  @include media-desktop-up {
    padding: 0;
  }

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}


.carousel__item {
  flex-shrink: 0;
  scroll-snap-align: start;
  scroll-margin-left: var(--page-paddings);
  max-width: $space*15;

  &:not(:last-child) {
    margin-right: var(--carousel-spacing);
  }

  @include media-tablet-landscape-down {
    width: calc((100% + var(--page-paddings) - var(--space-between)) / var(--items-number));
  }

  @include media-desktop-up {
    width: calc((100% - var(--space-between)) / var(--items-number));
  }
}


// * Toggle buttons

@media not all and (pointer: coarse) {
  .carousel__toggle {
    position: absolute;
    z-index: 1;
    top: 50%;
    padding: $space*0.75;
    color: $color__additional-4;
    border-radius: 50%;
    box-shadow:
      inset 0 0 0 1px $color__additional-2,
      0 3px 6px 0 $color__shadows;
    background: #ffffff;

    &--left {
      left: $space;
      transform: translateY(-50%) rotate(90deg);
    }

    &--right {
      right: $space;
      transform: translateY(-50%) rotate(-90deg);
    }

    &:hover,
    &:focus {
      color: $color__primary;
      box-shadow:
        inset 0 0 0 1px $color__primary,
        0 3px 6px 0 $color__shadows;
    }
  }
}


@media (pointer: coarse) {
  .carousel__toggle {
    display: none;
  }
}


@media not all and (pointer: coarse) {
  .carousel__toggle-icon {
    display: block;
    width: $space*1.5;
    height: $space*1.5;
    stroke-width: 2px;
    stroke: currentColor;
    fill: none;
  }
}
